@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400;700;900&display=swap');

/*border: 1px solid hotpink;*/

* { /* resets */
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	width: 1440px;
	margin: 0 auto;
	height: 100%;
	color: #202020;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: 0.05em;
}
img, .btn { border-radius: 10px; }

/********* HEADER *********/
nav {
	display: flex;
	justify-content: space-between;
	padding: 60px 100px;
}
nav a { text-decoration: none; }
nav .logo {
	color: #202020;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 1.5em;
}
nav ul {
	list-style-type: none;
	color: #202020;
	margin: 0;
	padding: 0;
	display: flex;
}
nav li {
	margin: 0px 0px 0px 65px;
	color: #B0B0B0;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
nav li a:visited { color: #B0B0B0; }
nav li a:hover { color: #202020; }
nav li a:active { color: #202020; }


/********* IDs *********/
#giza-group-1 {
	background-color: #CDEFFB;
	border-radius: 10px;
	margin: 0px 0px -15px 120px;
	padding-top: 15px;
	position: relative;
	z-index: -1;
}

#giza-group-2 {
	background-color: #FEC83D;
	border-radius: 10px;
	padding-top: -10px;
	margin-left: 60px;
}

/********* MAIN *********/
h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	letter-spacing: 0.07em;
}
h2 {
	font-size: 65px;
	line-height: 100%;
}
main p {
	line-height: 200%;
}
main h3 {
	font-size: 30px;
	line-height: 300%;
}
.style-1, .style-2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
}
.style-1 { font-size: 22.5px; }
.style-2 { font-size: 45px; }

a:link.btn, a:visited.btn {
  background-color: #FEC83D;
  box-shadow: 0px 4px 30px rgba(254, 200, 61, 0.75);
  color: white;
  padding: 25px 45px;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.arrow { margin-left: 10px; }


/********* SECTION 1: HEADING *********/
.section-1 {
	padding: 50px 100px 120px 0px;
	display: grid;
	grid-template-columns: 3fr 1fr;
}
h1 {
	font-size: 150px;
	margin-left: 100px;
}
.section-1 p {
	font-family: 'Playfair Display', serif;
	font-size: 33px;
	text-align: right;
	line-height: 100%;
	margin-bottom: 40px;
	padding-right: 50px;
}
.heading-img { 
	border-radius: 0px;
	margin-top: -82px;
	position: relative;
	z-index: -1;
}
.btn-space { margin: -40px 0px 0px 100px; }
.city-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 100px;
}



/********* SECTION 2: INTRO *********/
.section-2 {
	padding: 70px 100px 120px 100px;
	display: flex;
}
.section-2 img { align-self: center; }
.section-2 h2 { margin-bottom: 40px; }
.section-2 p { margin-bottom: 20px; }

.section-2-content {
	flex: 1;
	margin-right: 100px;
}

.section-2-imgs {
	flex: 1.1; 
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.intro-2 { margin: 20px 0px 0px 50px; }
.intro-3 { margin: -20px 0px 0px 50px; }

/********* SECTION 3: CULTURE *********/
.section-3 {
	color: white;
	background-image: url("../images/giza/culture.png");
	background-color: #B54900;
	background-repeat: no-repeat;
	height: 687.17px;
	padding: 70px 100px 90px 660px;
	font-weight: 400;
}
.section-3 h2 { margin-bottom: 40px; }
.section-3 p { margin-bottom: 20px; }


/********* SECTION 4: CUISINES *********/
.section-4 {
	text-align: center;
	padding: 90px 100px;
	display: grid;
	grid-template-rows: 0.2fr 1fr;
}
.section-4 h2 { margin-bottom: 80px; }
.section-4 h3 {
	padding-top: 30px;
	line-height: 145%;
}
.section-4 p { padding-top: 20px; }

.section-4-content { /* RENAME FLEX PROPERTIES*/
	display: flex;
	justify-content: space-between;
}
.cuisine {
	width: 32%;
	padding: 10px;
}


/********* SECTION 5: ATTRACTIONS *********/
.section-5 {
	background-color: #F1F1F1;
	padding: 90px 100px 80px 100px;
	display: grid;
	grid-template-rows: 0.2fr repeat(3, 1fr)
}
.section-5 h2 { margin-bottom: 50px; }

.section-5-content {
	display: flex;
	margin-bottom: 100px;
}
.left { flex-direction: row-reverse; }
.content-right { margin-right: 100px; }
.content-left { margin-left: 100px; }
.section-5 img { align-self: center; }