@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400;700;900&display=swap');

* { /* resets */
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root { /* defaults */
	--border-radius: 10px;
}

body {
	width: 100vw;
	height: 100%;
	color: #202020;
}

/* header */
nav {
	display: flex;
	justify-content: space-between;
	padding: 60px 100px;
}
nav a { text-decoration: none; }
nav .logo {
	color: #202020;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 1.5em;
}
nav ul {
	list-style-type: none;
	color: #202020;
	margin: 0;
	padding: 0;
	display: flex;
}
nav li {
	margin: 0px 0px 0px 65px;
	color: #B0B0B0;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
nav li a:visited { color: #B0B0B0; }
nav li a:hover { color: #202020; }
nav li a:active { color: #202020; }